[Unit]
Description=rclone: Generic rclone service.
Documentation=man:rclone(1)
After=dbus.service
Requires=dbus.service
Wants=dbus.service

[Service]
#BusName=org.freedesktop.secrets.service
ExecStartPre=/bin/sleep 10
# ExecStartPre=/usr/bin/mkdir -p "%h/Cloud/%i"
ExecStart=/usr/bin/rclone mount --log-systemd --checksum --vfs-cache-mode full --vfs-cache-max-size 2G --log-level INFO %i: "%h/Cloud/%i" --password-command 'secret-tool lookup rclone password'
ExecStop=/bin/fusermount -u "%h/Cloud/%i"

[Install]
WantedBy=rclone.target
