{{- $email := promptStringOnce . "email" "Email Address" -}}
{{- $name := prompStringOnce. "name" "Name" -}}

[data]
    email = {{ $email | quote }}

[keepassxc]
    database = "~/passwords/personal.kdbx"
