{{- $email := promptStringOnce . "email" "Email Address (github)" -}}
{{- $name := promptStringOnce . "name" "Name" -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}

[keepassxc]
    database = "~/Passwords/personal.kdbx"
