# vim: set filetype=toml:

encryption = "gpg"
data.cuda = {{ promptBool "Is CUDA avaible: " (eq (output (joinPath .chezmoi.config.sourceDir ".scripts" "check_cuda.sh")) "true") }}

sourceDir = "~/.dotfiles"

[git]
	autoPush = true
	autoAdd = true
	autoCommit = true
	#commitMessageTemplate = "{{ now | quote }}"

[data.git]
	email = {{ promptString "Git global user.email: " "96893357+GreatestTrain@users.noreply.github.com" | quote }}
	name = {{ cat (promptString "Git global user.name: " .chezmoi.username ) .chezmoi.hostname | replace " " "@" | quote }}

[diff]
	command = "nvim"
	args = ["-dO"]

[edit]
	watch = true

[keepassxc]
	database = "~/Secrets/personal.kdbx"

[gpg]
    recipient = "csr.manrique02@outlook.com"
