# Created by newuser for 5.9
source /usr/share/zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source /usr/share/zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.plugin.zsh
source /usr/share/doc/pkgfile/command-not-found.zsh

alias check_gpu_power="cat /sys/class/drm/card*/device/power_state"

eval $(starship init zsh) &> /dev/null
