acl
adobe-source-code-pro-fonts
adwaita-icon-theme
alsa-lib
alsa-topology-conf
alsa-ucm-conf
apparmor
apr
apr-util
arch-install-scripts
archlinux-keyring
argon2
at-spi2-atk
at-spi2-core
atk
attr
audit
autoconf
automake
avahi
base
bash
bashtop
binutils
bison
brotli
bspwm
btrfs-progs
bubblewrap
bzip2
ca-certificates
ca-certificates-mozilla
ca-certificates-utils
cairo
cantarell-fonts
ccze
coreutils
cowsay
cryptsetup
curl
daemonize
db
dbus
dbus-python
dconf
desktop-file-utils
device-mapper
diffutils
dmraid
dnssec-anchors
dosfstools
e2fsprogs
elfutils
exempi
exiv2
expat
fakeroot
file
filesystem
findutils
fish
flac
flex
fontconfig
freetype2
fribidi
fuse-common
fuse3
gawk
gc
gcc
gcc-libs
gcr
gdbm
gdk-pixbuf2
gettext
giflib
git
glib-networking
glib2
glibc
gmp
gnupg
gnutls
gobject-introspection-runtime
gpgme
gpm
gptfdisk
graphite
grep
groff
gsettings-desktop-schemas
gst-plugins-base-libs
gstreamer
gtk-update-icon-cache
gtk3
guile
gupnp-dlna
gzip
harfbuzz
hicolor-icon-theme
htop
hwids
iana-etc
icu
iniparser
iproute2
iptables
iputils
iso-codes
jansson
java-runtime-common
jemalloc
jre-openjdk
jre-openjdk-headless
js78
json-c
json-glib
kbd
keyutils
kmod
krb5
lcms2
ldns
less
libaio
libarchive
libassuan
libasyncns
libatasmart
libblockdev
libbluray
libbytesize
libcanberra
libcap
libcap-ng
libcddb
libcdio
libcdio-paranoia
libcloudproviders
libcolord
libcroco
libcue
libcups
libdaemon
libdatrie
libdrm
libedit
libelf
libepoxy
libevdev
libevent
libexif
libffi
libfontenc
libgcrypt
libgexiv2
libglvnd
libgpg-error
libgrss
libgsf
libgudev
libgxps
libice
libidn
libidn2
libimobiledevice
libinih
libinput
libiptcdata
libjpeg-turbo
libkeybinder3
libksba
libldap
libluv
libmnl
libmpc
libnet
libnetfilter_conntrack
libnfnetlink
libnftnl
libnghttp2
libnl
libnm
libnotify
libnsl
libogg
libomxil-bellagio
libosinfo
libp11-kit
libpcap
libpciaccess
libperconaserverclient
libpipeline
libplist
libpng
libportal
libproxy
libpsl
libpulse
librsvg
libsasl
libseccomp
libsecret
libsm
libsndfile
libsoup
libsoup3
libssh2
libstemmer
libtasn1
libtermkey
libthai
libtiff
libtirpc
libtool
libunistring
libunwind
liburcu
libusb
libusbmuxd
libutf8proc
libuv
libvorbis
libvterm
libwacom
libx11
libxau
libxaw
libxcb
libxcomposite
libxcrypt
libxcursor
libxcvt
libxdamage
libxdmcp
libxext
libxfixes
libxfont2
libxft
libxi
libxinerama
libxkbcommon
libxkbfile
libxml2
libxmu
libxpm
libxrandr
libxrender
libxshmfence
libxslt
libxt
libxtst
libxv
libxxf86vm
libyaml
licenses
linux-api-headers
llvm-libs
lm_sensors
luajit
lvm2
lynx
lz4
lzo
m4
make
man-db
mariadb-libs
mc
mdadm
mesa
mpfr
msgpack-c
mtdev
nano
ncurses
ndctl
neofetch
neovim
nettle
npth
nspr
nss
numactl
openjpeg2
openssh
openssl
opus
orc
osinfo-db
p11-kit
pacman
pacman-mirrorlist
pam
pambase
pango
parted
patch
pciutils
pcre
pcre2
percona-server
percona-server-clients
perl
perl-error
perl-mailtools
perl-timedate
pinentry
pixman
pkgconf
polkit
poppler
poppler-glib
popt
procps-ng
protobuf
psmisc
pv
python
python-appdirs
python-cairo
python-configobj
python-gobject
python-more-itertools
python-ordered-set
python-packaging
python-psutil
python-pyparsing
python-setuptools
python-six
python-zipp
python2
readline
rest
sed
serf
shadow
shared-mime-info
slang
snapd
sound-theme-freedesktop
speex
speexdsp
sqlite
squashfs-tools
subsystemctl
subversion
sudo
sxhkd
systemd
systemd-libs
systemd-sysvcompat
tar
tdb
terminator
texinfo
thin-provisioning-tools
totem-pl-parser
tracker3
tree
tree-sitter
tzdata
udisks2
unibilium
upower
usbmuxd
util-linux
util-linux-libs
vim
vim-runtime
volume_key
vte-common
vte3
vulkan-icd-loader
wayland
wget
which
xcb-proto
xcb-util
xcb-util-image
xcb-util-keysyms
xcb-util-renderutil
xcb-util-wm
xdg-utils
xf86-input-libinput
xf86-video-vesa
xfsprogs
xkeyboard-config
xorg-bdftopcf
xorg-docs
xorg-font-util
xorg-fonts-100dpi
xorg-fonts-75dpi
xorg-fonts-alias-100dpi
xorg-fonts-alias-75dpi
xorg-fonts-encodings
xorg-iceauth
xorg-mkfontscale
xorg-server
xorg-server-common
xorg-server-devel
xorg-server-xephyr
xorg-server-xnest
xorg-server-xvfb
xorg-sessreg
xorg-setxkbmap
xorg-smproxy
xorg-util-macros
xorg-x11perf
xorg-xauth
xorg-xbacklight
xorg-xcalc
xorg-xcmsdb
xorg-xcursorgen
xorg-xdpyinfo
xorg-xdriinfo
xorg-xev
xorg-xgamma
xorg-xhost
xorg-xinit
xorg-xinput
xorg-xkbcomp
xorg-xkbevd
xorg-xkbutils
xorg-xkill
xorg-xlsatoms
xorg-xlsclients
xorg-xmodmap
xorg-xpr
xorg-xprop
xorg-xrandr
xorg-xrdb
xorg-xrefresh
xorg-xset
xorg-xsetroot
xorg-xvinfo
xorg-xwayland
xorg-xwd
xorg-xwininfo
xorg-xwud
xorgproto
xz
yay-bin
zlib
zsh
zstd
